services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: mern-backend
    ports:
      - "5000:5000"
    restart: always
    environment:
      - MONGO_URI=mongodb://mongo:27017/mern_db
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: mern-frontend
    ports:
      - "3000:80"
    restart: always
    depends_on:
      - backend

volumes:
  mongo_data:
